.HomePage .main {
  min-height: 100vh;
}

.HomePage .content {
  padding: 40px 50px;
}

.HomePage .header {
  background-color: white;
}

.HomePage .menu {
  line-height: 64px;
}

.HomePage .search-application-input {
  width: 100%;
}

.HomePage .appl-list {
  background: white;
  padding: 0 20px;
  border-radius: 4px;
  border: 1px solid #ebedf0;
}

.HomePage .appl-timeline {
  background: white;
  padding: 20px 20px 0;
  border-radius: 4px;
  border: 1px solid #ebedf0;
}